.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.bash_sessions/
.dropbox/
.ssh/
.subversion/
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/